<form action="submit" class="form__password">
  <input
    placeholder="Password"
    type="password"
    name="password"
    id="userPassword"
    [formControl]="passwordInput"
    [ngClass]="
      currentStatus === 'VALID'
        ? 'input__password valid'
        : 'input__password invalid'
    "
  />
  <div *ngIf="currentError">
    <div *ngFor="let error of currentError" class="{{ error }}">
      <div class="first__validator"></div>
      <div class="second__validator"></div>
      <div class="third__validator"></div>
    </div>
  </div>

  <div *ngIf="currentStatus === 'VALID'" class="{{ sizeValidation }}">
    <div class="first__validator"></div>
    <div class="second__validator"></div>
    <div class="third__validator"></div>
  </div>
  <p class="complexity__password" *ngIf="currentStatus === 'VALID'">
    password complexity: {{ sizeValidation }}
  </p>
  <button
    class="btn__submit"
    type="submit"
    [disabled]="currentStatus !== 'VALID'"
  >
    Submit
  </button>
</form>
